body {
    display: grid;
    grid-template-rows: 80vh 20vh;
    font-family: sans-serif;
}

#server-status {
    align-items: center;
    display: flex;
    flex-direction: vertical;
    justify-content: center;
}

#server-status iframe {
    border: none;
    height: 100%;
    width: 100%;
}

#server-status.loading {
    background-image: url('/images/loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#server-status.loading::before {
    background: white;
    border: 0.25em solid #00c8db;
    border-radius: 0.25em;
    content: "Loading…";
    font-size: 24pt;
    padding: 0.25em 0.5em;
}

#server-status.loading iframe {
    display: none; /* Helps the ::before element display correctly */
}

#wake-server {
    border: 3pt solid #83838334;
    border-radius: 0.2em;
    background-color: #00ff00;
    color: white;
    font-size: 12vh;
    display: flex;
    height: 100%;
    width: 100%;
}

#wake-server:active {
    background-color: #00cc00;
}
